:root {
  --light: #ffffff;
  --success: #188918;
  --error: #9b1b12;
  --warning: #bf8705;
  --info: #008084;
}

.bg-money {
  background-color: #4aba03;
  color: #fff;
}

.btn.bg-money:hover {
  background-color: #7ed537;
  color: #fff;
}
